#contentContainer {
  margin-top: 45px;
  position: relative;
  display: flex;
}

#pullingCpu {
  height: 50px;
  width: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 5%;
  position: absolute;
}

#dateContainer {
  margin-top: 13px;
  width: 240px;
  left: 500px;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputField {
  height: 18px;
  width: 33%;
}

#activationArea {
  border: 1px dashed #81a2c3;
  width: 130px;
  height: 30px;
  margin-top: 6px;
  margin-left: 15%;
}

#rope {
  position: absolute;
  z-index: -1;
  margin-top: 18px;
  margin-left: 4.5%;
}
#person {
  margin-left: 1%;
  width: 50px;
  height: 50px;
}

#person:active {
  transform: translateX(-3px);
}

body {
  background: #131127;
}

h1 {
  margin-top:30px;
  margin-left: 1%;
  font-family: Helvetica;
  font-size: 32px;
  color: #f8f9fa;
}

p {
  margin-top:-10px;
  margin-left: 1%;
  font-family: Helvetica;
  font-style: italic;
  font-size: 14px;
  color: #81a2c3;
}

#submitButton {
  margin-top: 30px;
  margin-left: 1%;
  font-family: Helvetica;
  font-size: 12px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #1c1f25;
  background-color: #f5f5f5;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#submitButton:hover {
  background-color: #2ee59d;
  color: #fff;
  transform: translateY(-7px);
}
